.loginForm__section{
    width: 600px;
    margin: 0 auto;
    margin-top: 150px;
    border: #00000000 1px solid;
    box-shadow: #9e9e9e 0px 0px 25px;
    padding: 30px 20px;
}

.loginForm__title{ 
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #00D7FF;
}

.loginForm__subTitle{
    font-family: 'Cantarell', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.loginForm{
    display: flex;
    flex-direction: column;
}

.loginForm__label{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;    
    color: #000000;
    margin-bottom: 10px;
}

.loginForm__input{
display: block;
margin-bottom: 15px;
  background-color: transparent;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid #00D7FF;
  font-size: 16px;
}

.loginForm__termService{
    margin: 0 20px;
}

.loginForm__termServiceLink{
    color: #00D7FF;
text-decoration:underline;
}


.loginForm__submitBtn{
margin: 20px auto 0 auto;
background-color: #FF851C;
border: none;
width: 100px;
border-radius: 10px;
font-size: 14px;
font-weight: 500;
text-align: center;
color: #FFFFFF;


padding: 10px 10px;
transition: 0.3s;
}

.loginForm__submitBtn:hover,
.loginForm__submitBtn:focus{
cursor: pointer;
background-color: #f7841f;

box-shadow: #e0791f 0px 0px 10px;
}

.loginForm__submitBtn:disabled{
    background-color: #838383;
}

.loginForm__account{
    margin-top: 25px;
    text-align: center;
   
}

.loginForm__accountLink{
    margin-left: 5px;
}