
.registerForm__page{
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;

    background: url("../../img/LangingPage/Group@3x.png") 
    repeat 0 0;
    background-position: 0;

    animation: 30s ease infinite running bg-moving;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    background-size: cover;    
} 

.registerForm__section{
    margin: 0 auto;
    width: 600px;
    border: #00000000 1px solid;
    box-shadow: #9e9e9e 0px 0px 25px;
    padding: 30px 20px;
    background-color: #ffffff;
}
 
.registerForm__title{
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #00D7FF;
    
}

.registerForm__info{
    font-family: 'Cantarell', sans-serif;
    text-align: center;
    margin-bottom: 40px;
}

.registerForm{
    display: flex;
    flex-direction: column;
}

.registerForm__label{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;    
    color: #000000;
    margin-bottom: 10px;
}

    .registerForm__input{
    padding: 10px 0;
display: block;
margin-bottom: 15px;
  background-color: transparent;
  height: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid #00D7FF;
  font-size: 16px;
  transition: 0.3s;
}

.registerForm__input:focus{
    outline: none;
    border-bottom: 2px solid #00b4d3;
}

.registerForm__termService{
    margin: 0 20px;
}

.registerForm__termServiceLink{
    color: #00D7FF;
text-decoration:underline;
}

.registerForm__checkbox{
margin-right: 7px;
width: 14px;
height: 14px;
}

.registerForm__checkboxLabel{
  
}


.registerForm__submitBtn{
margin: 20px auto 0 auto;
background-color: #FF851C;
border: none;
width: 100px;
border-radius: 10px;
font-size: 14px;
font-weight: 500;
text-align: center;
color: #FFFFFF;


padding: 10px 10px;
transition: 0.3s;
}

.registerForm__submitBtn:hover,
.registerForm__submitBtn:focus{
cursor: pointer;
background-color: #e16900;

box-shadow: #e0791f 0px 0px 10px;
}

.registerForm__submitBtn:disabled{
    background-color: #838383;
}

.registerForm__termService{
    margin: 20px;
    text-align: center;
}

.registerForm__termServiceCheckbox {
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

.registerForm__account{
    margin-top: 25px;
    text-align: center;
}

.registerForm__accountLink{
    margin-left: 5px;
} 

@keyframes bg-moving {
    from {
     background-position: 0 550px;
    }
  
    to {
    
      background-position: 550px 550px;
    }
   }