.landing__section{
 margin-top: 204px;
 margin-left: 229px;
}

.landing__title{
    margin-bottom: 80px;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #00D7FF;
}

.landing__descrText{
font-size: 36px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0.02em;
text-align: left;
width: 570px;
margin-bottom: 35px;
}


.landing__formBox{
    display: flex;
}

.landing__boxRegister{
    font-size: 18px;
    margin-bottom: 25px;
}

.landing__input{
    border: none;
    border-bottom: 1px solid #00D7FF;
    outline: none;
    transition: 0.3s;

    min-width: 15px;

    font-size: 18px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.02em;
}


.landing__input:focus{
    border-bottom: 1px solid #029bb6;
}

.landing__Btn{
position: relative;
display: flex;
align-items: center;
justify-content: center;

background-color: #00D7FF;
padding: 0 5px ;
font-size: 18px;
border-radius: 12px;
font-weight: 600;
text-align: center;
color: #fff;
box-shadow: #007b91 0px 0px 15px;
transition: 0.3s;
text-decoration: none;
}


.landing__Btn:hover,
.landing__Btn:focus{
cursor: pointer;
box-shadow: #007b91 0px 0px 20px;
}

.landing__BtnIcon{
color: #000000;
height: 35px;
width: 34px;
margin-left: 5px;
animation: 1s linear 0s infinite alternate sun-rise;
color: #ffffff;
;

}

.landing__linkRegister{
    text-decoration: none;
    color: #00D7FF;
    transition: 0.3s;
}

.landing__linkRegister:hover,
.landing__linkRegister:focus{
    color: #007b91;
}




@keyframes sun-rise {
    from {
      transform: translateX(12px);
    }
    to {
      transform: translateX(0);
    }
  }