.landing__section{
 margin-top: 204px;
 margin-left: 246px;
 
}

.landing__title{
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    
    color: #00D7FF;
}

.landing__descrText{
font-size: 36px;
font-weight: 700;
line-height: 45px;
letter-spacing: 0.02em;
text-align: left;
width: 570px;
}


.landing__formBox{
    display: flex;
}

.landing__label{
    
font-size: 24px;
font-weight: 400;
line-height: 45px;
letter-spacing: 0.02em;

color: #B9C3C8;

}

.landing__input{
    border: none;
    border-bottom: 1px solid #00D7FF;
    outline: none;
    transition: 0.3s;

    min-width: 15px;

    font-size: 18px;
    font-weight: 400;
    line-height: 45px;
    letter-spacing: 0.02em;
}


.landing__input:focus{
    border-bottom: 1px solid #029bb6;
}

.landing__Btn{
    width: 52px;
height: 52px;
background-color: #FF851C;
border: none;

border-radius: 50%;
font-size: 24px;
font-weight: 700;
text-align: center;
color: #FFFFFF;


box-shadow: #df7518 0px 0px 15px;
transition: 0.3s;
}


.landing__Btn:hover,
.landing__Btn:focus{
cursor: pointer;
box-shadow: #FF851C 0px 0px 25px;
}